html{
	font-size: 62.5%;
}
*{
	margin: 0;
	padding: 0;
}


.clearfix{
	clear: both;
}

main{

}
span{
    color:#4C6600;
}
h2{
    text-align: center;
    font-size:4.0rem;
    /*text-shadow:1px 1px 5px black;*/
    font-family: 'Montserrat', sans-serif;
    color: #030303;


}
h3{
    text-align: center;
    font-size:2.5rem;
    /*text-shadow:1px 1px 5px black;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #030303;

}
h4{
    font-size:2.0rem;
    font-family: 'Montserrat', sans-serif;

    color: #030303;
    padding-top: 10;

}

.poodle_list{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.poodle_list h3{
   padding-top: 20px;
}
.poodle_list h2{
    padding-top: 100px;

 }
.main_list{
    /* padding-top: 50px; */
    padding: 50 10 50 10;
    display: grid;
    grid-template-columns: repeat(auto-fill,920px);
    gap: 25px 30px;
    justify-content: center;


}

.list{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main_list .list .image{
    width:50%;
}

.ele{
    padding: 15;
    width: 50%;
}
.ele ul{
    padding-top: 20;
}
.ele li{
    list-style-type: none;
    font-size: 1.5rem;
    font-family: 'Martel Sans', sans-serif;

}
.ele .poodle-data{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}
.poodle-data i{
    color: #4C6600;
}
.active-icon{
    cursor: pointer;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }



  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

